
 .hover-image-wrapper {
  position: relative;
  width: 100%;
  padding-top: 66.66%; 
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  margin-top: -100px;
}

.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: opacity 0.5s ease;
}

.img-one {
  z-index: 1;
}

.img-two {
  z-index: 2;
}


.P .card-effect {
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease,;
  
 
}

.card-effect:hover {
  transform: translateY(-5px);
 
  box-shadow: 0 12px 32px rgba(105, 75, 241, 0.25);
}

.card-text {
 font-weight: 500;
 font-style: italic;
 font-size: x-large;
 line-height: 1.6;
}
