

.cart-item {
  border-radius: 12px;
  background: #fff;
  transition: box-shadow 0.2s ease;
}

.cart-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
img {
 max-width: 100%;
 height: auto;
}
